<p>
  <%= label_tag 'login', 'Login' %><br/>
  <%= f.text_field :login %>
</p>

<p>
  <%= label_tag 'email', 'E-mail' %><br/>
  <%= f.text_field :email %>
</p>

<p>
  <%= label_tag 'password', 'Senha' %><br/>
  <%= f.password_field :password %>
</p>

<p>
  <%= label_tag 'password_confirmation', 'Confirme sua senha' %><br/>
  <%= f.password_field :password_confirmation %>
</p>