<p>
  <%= f.label :name, 'Nome' %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :description, 'Descrição' %><br />
  <%= f.text_area :description %>
</p>
<p>
  <%= f.label :skill_points_per_level, 'Pontos de habilidade por estágio' %><br />
  <%= f.text_field :skill_points_per_level %>
</p>
<p>
  <%= f.label :combat_points_per_level, 'Pontos de combate por estágio' %><br />
  <%= f.text_field :combat_points_per_level %>
</p>
<p>
  <%= f.label :can_use_magic, 'Pode utilizar magias?' %><br />
  <%= f.check_box :can_use_magic %>
</p>