<p>
  <b>Nome:</b>
  <%=h @profession.name %>
</p>

<p>
  <b>Descrição:</b>
  <%=h @profession.description %>
</p>

<p>
  <b>Pontos de habilidade por nível:</b>
  <%=h @profession.skill_points_per_level %>
</p>

<p>
  <b>Pontos de combate por nível:</b>
  <%=h @profession.combat_points_per_level %>
</p>

<p>
  <b>Pode usar magias:</b>
  <%=h @profession.can_use_magic %>
</p>


<%= link_to 'Editar', edit_profession_path(@profession) %> |
<%= link_to 'Voltar', professions_path %>
