<div class="section">
  <h3>Dados Básicos <%= toggler_for 'basic-data', 'basic-data-toggler' -%></h3>
  <div id="basic-data" class="box">
    <span class="age"><%= displayable_age_for(@character) -%></span>
    <span class="level"><%= displayable_level_for(@character) -%></span>
    <span class="socialClass"><%= displayable_social_class_for(@character) -%></span>
    <span class="god"><%= displayable_god_for(@character) -%></span>
  </div>
</div>