<h1>Your Characters</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Biography</th>
    <th>Age</th>
    <th>Level</th>
  </tr>
  <%- @characters.each do |character|%>
    <tr>
      <td><%=h character.name %></td>
      <td><%=h character.biography %></td>
      <td><%=h character.age %></td>
      <td><%=h character.level %></td>
    
      <td><%=link_to 'Show', object_url(character) %></td>
      <td><%=link_to 'Edit', edit_object_url(character) %></td>
      <td><%=link_to 'Destroy', object_url(character), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<br/>

<%= link_to 'New Character', new_object_url %>