<p>
  <strong>Name:</strong><%=h @character.name %>
</p>
<p>
  <strong>Biography:</strong><%=h @character.biography %>
</p>
<p>
  <strong>Age:</strong><%=h @character.age %>
</p>
<p>
  <strong>Level:</strong><%=h @character.level %>
</p>

<%= link_to 'Edit', edit_object_url %>
|
<%= link_to 'Back', collection_url %>