<%- content_for :sidebar do -%>
  <h3><%= link_to 'Editar Personagem', edit_user_character_path(current_user, @character) -%></h3>
  <hr />
  <p>
    Para editar este personagem clique no link acima.
  </p>
<%- end -%>

<div id="character-sheet">
  <h1><%=h @character.name -%></h1>

  <%= render :partial => 'basic_data' -%>
  <%= render :partial => 'attributes' -%>
  <%= render :partial => 'energy' -%>
  <%= render :partial => 'resistances' -%>
  <%= render :partial => 'experience' -%>
  <%= render :partial => 'weapon_groups' -%>
  <%= render :partial => 'weapons' -%>
</div>
